<div id="top">
  <%= render "common/left-sidebar" %>
	<div class="main-service">
		<div id="slide-service">
	        <div id="theTarget">
	            <a class="service-top">A</a>
	            <a class="service-top">B</a>
	            <a class="service-top">C</a>
	            <a class="service-top">D</a>
	        </div>
		</div>
		<div id="trend">
			<h3 class="thisweek-trend">今週のトレンド <i class="fas fa-chart-line"></i>
			</h3>
			<div class="card" style="width: 40%;">
  				<img class="card-img-top" src="..." alt="Card image cap">
  				<div class="card-body">
    				<a class="service-title" href="#">Card title</a>
    				<p class="service-outline">何でも薄暗いじめじめした所</p>
    				<i class="far fa-comment"></i>20
    				<i class="far fa-star"></i>100 <br>
    				<div class="goodbad-line">
    					<i class="far fa-thumbs-up"></i>
    					<div class="goodbad-graph">
    						<span class="good-point" style="width:70%;">70%</span>
    					</div>
    					<i class="far fa-thumbs-down"></i>
    				</div>
					<div class="new-comment">
							<span class="commenter-role">VC : </span><span class="commenter-id-random">asdanj3813</span> <br>
							<a class="new-comment-content" href="#">どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを...</a>
					</div>
  				</div>
			</div>
			<div class="card" style="width: 40%;">
  				<img class="card-img-top" src="..." alt="Card image cap">
  				<div class="card-body">
    				<a class="service-title" href="#">Card title</a>
    				<p class="service-outline">何でも薄暗いじめじめした所</p>
    				<i class="far fa-comment"></i>20
    				<i class="far fa-star"></i>100 <br>
    				<div class="goodbad-line">
    					<i class="far fa-thumbs-up"></i>
    					<div class="goodbad-graph">
    						<span class="good-point" style="width:70%;">70%</span>
    					</div>
    					<i class="far fa-thumbs-down"></i>
    				</div>
					<div class="new-comment">
							<span class="commenter-role">VC : </span><span class="commenter-id-random">asdanj3813</span> <br>
							<a class="new-comment-content" href="#">どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを...</a>
					</div>
  				</div>
			</div>
			<div class="card" style="width: 40%;">
  				<img class="card-img-top" src="..." alt="Card image cap">
  				<div class="card-body">
    				<a class="service-title" href="#">Card title</a>
    				<p class="service-outline">何でも薄暗いじめじめした所</p>
    				<i class="far fa-comment"></i>20
    				<i class="far fa-star"></i>100 <br>
    				<div class="goodbad-line">
    					<i class="far fa-thumbs-up"></i>
    					<div class="goodbad-graph">
    						<span class="good-point" style="width:70%;">70%</span>
    					</div>
    					<i class="far fa-thumbs-down"></i>
    				</div>
					<div class="new-comment">
							<span class="commenter-role">VC : </span><span class="commenter-id-random">asdanj3813</span> <br>
							<a class="new-comment-content" href="#">どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを...</a>
					</div>
  				</div>
			</div>
			<div class="card" style="width: 40%;">
  				<img class="card-img-top" src="..." alt="Card image cap">
  				<div class="card-body">
    				<a class="service-title" href="#">Card title</a>
    				<p class="service-outline">何でも薄暗いじめじめした所</p>
    				<i class="far fa-comment"></i>20
    				<i class="far fa-star"></i>100 <br>
    				<div class="goodbad-line">
    					<i class="far fa-thumbs-up"></i>
    					<div class="goodbad-graph">
    						<span class="good-point" style="width:70%;">70%</span>
    					</div>
    					<i class="far fa-thumbs-down"></i>
    				</div>
					<div class="new-comment">
							<span class="commenter-role">VC : </span><span class="commenter-id-random">asdanj3813</span> <br>
							<a class="new-comment-content" href="#">どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを...</a>
					</div>
  				</div>
			</div>
		</div>
		<div id="comment">
			<h3 class="topic-comment">話題のコメント <i class="fas fa-fire"></i>
			</h3>
			<div class="topic-comment-contents" >
				<p class="topic-comment-good-counts">
					<i class="far fa-thumbs-up"></i>
					<span class="topic-comment-good-count">200</span>
				</p>
				<div class="card comment-card" style="width: 100%; margin: 0;">
	  				<div class="card-body">
	  					<div class="card-body-commenter"></div>
	    					<span class="topic-commenter-name">東証一部</span>
	    					<div class="topic-commenter-body">
	    						<span>id: asdanj3813</span>
	    						<p class="topic-comment-time">1 hours ago</p>
	    					</div>
	    				<p class="card-text">(O文字で制限)どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを...</p>
	  				</div>
	  					<img class="card-img-top" src="..." alt="Card image cap">
	  					<div class="topic-comment-service">
	  						<a class="service-title" href="#">Card title</a>
    						<p class="service-outline">何でも薄暗いじめじめした所</p>
    					</div>
				</div>
			</div>
			<div class="topic-comment-contents" >
				<p class="topic-comment-good-counts">
					<i class="far fa-thumbs-up"></i>
					<span class="topic-comment-good-count">180</span>
				</p>
				<div class="card comment-card" style="width: 100%; margin: 0;">
	  				<div class="card-body">
	  					<div class="card-body-commenter"></div>
	    					<span class="topic-commenter-name">東証一部</span>
	    					<div class="topic-commenter-body">
	    						<span>id: asdanj3813</span>
	    						<p class="topic-comment-time">1 hours ago</p>
	    					</div>
	    				<p class="card-text">(O文字で制限)どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを...</p>
	  				</div>
	  					<img class="card-img-top" src="..." alt="Card image cap">
	  					<div class="topic-comment-service">
	  						<a class="service-title" href="#">Card title</a>
    						<p class="service-outline">何でも薄暗いじめじめした所</p>
    					</div>
				</div>
			</div>
			<div class="topic-comment-contents" >
				<p class="topic-comment-good-counts">
					<i class="far fa-thumbs-up"></i>
					<span class="topic-comment-good-count">150</span>
				</p>
				<div class="card comment-card" style="width: 100%; margin: 0;">
	  				<div class="card-body">
	  					<div class="card-body-commenter"></div>
	    					<span class="topic-commenter-name">東証一部</span>
	    					<div class="topic-commenter-body">
	    						<span>id: asdanj3813</span>
	    						<p class="topic-comment-time">1 hours ago</p>
	    					</div>
	    				<p class="card-text">(O文字で制限)どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを...</p>
	  				</div>
	  					<img class="card-img-top" src="..." alt="Card image cap">
	  					<div class="topic-comment-service">
	  						<a class="service-title" href="#">Card title</a>
    						<p class="service-outline">何でも薄暗いじめじめした所</p>
    					</div>
				</div>
			</div>
		</div>
		<div id="used-to-be-famous">
			<h3 class="topic-comment">あのサービスは今...</h3>
			<div class="card" style="width: 40%;">
  				<img class="card-img-top" src="..." alt="Card image cap">
  				<div class="card-body">
    				<a class="service-title" href="#">Card title</a>
    				<p class="service-outline">何でも薄暗いじめじめした所</p>
    				<i class="far fa-comment"></i>20
    				<i class="far fa-star"></i>100 <br>
    				<div class="goodbad-line">
    					<i class="far fa-thumbs-up"></i>
    					<div class="goodbad-graph">
    						<span class="good-point" style="width:70%;">70%</span>
    					</div>
    					<i class="far fa-thumbs-down"></i>
    				</div>
					<div class="new-comment">
							<span class="commenter-role">VC : </span><span class="commenter-id-random">asdanj3813</span> <br>
							<a class="new-comment-content" href="#">どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを...</a>
					</div>
  				</div>
			</div>
			<div class="card" style="width: 40%;">
  				<img class="card-img-top" src="..." alt="Card image cap">
  				<div class="card-body">
    				<a class="service-title" href="#">Card title</a>
    				<p class="service-outline">何でも薄暗いじめじめした所</p>
    				<i class="far fa-comment"></i>20
    				<i class="far fa-star"></i>100 <br>
    				<div class="goodbad-line">
    					<i class="far fa-thumbs-up"></i>
    					<div class="goodbad-graph">
    						<span class="good-point" style="width:70%;">70%</span>
    					</div>
    					<i class="far fa-thumbs-down"></i>
    				</div>
					<div class="new-comment">
							<span class="commenter-role">VC : </span><span class="commenter-id-random">asdanj3813</span> <br>
							<a class="new-comment-content" href="#">どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを...</a>
					</div>
  				</div>
			</div>
		</div>
	</div>
	<div class="right-sidebar"></div>
</div>
<script src="/javascripts/skippr.min.js"></script>

