<div class="left-sidebar">
	
</div>
<div class="main-service">
	<div id="slide-service">
        <div id="theTarget">
            <div class="service-top">A</div>
            <div class="service-top">B</div>
            <div class="service-top">C</div>
            <div class="service-top">D</div>
        </div>
	</div>
</div>
<script src="/javascripts/skippr.min.js"></script>