<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= comment.user.status.status_name %></h5>
      <small><%= time_ago_in_words(comment.created_at) %> ago</small>
    </div>
    <p class="mb-1"><%= truncate(comment.comment_content, length: 60) %></p>
  </a>

</div>
