.category-name{
  height: 43px;
  color: black;
  background-color: #ffffff;
  padding-left: 16%;
}

.categoty-name-font{
  color: #000000;
  font-family: HiraginoSans-W5;
  font-size: 17px;
  padding-top: 1%;
  padding-left: 7%;
}

.category-services{
  padding-left: 16%;
  background-color:#EFEFEF;
  height: auto;
  float: left;
  width:100%;
}
