<nav class="navbar navbar-light header-center" >
  <div class = "header-top">
      <form id="form2" action="自分のサイトURL" method="get">
        <input id="sbox2"  id="s" name="s" type="text" placeholder="フリーワードを入力"/>
        <button type="submit" id="sbtn2"><i class="fas fa-search"></i></button>
      </form>
      <%= link_to "#" do %>
        <%= image_tag 'header-icon.png', class: "header-icon" %>
      <% end %>
      <%= link_to "ログアウト", destroy_user_session_path , :method => "delete", class: "log_out_icon" %>
  </div>
  <div class="header-bottom">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">トップ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">テクノロジー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FinTech</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Helth Tech</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">アプリ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">HR Tech</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SNS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">to B</a>
      </li>
    </ul>
  </div>
</nav>



