<nav class="navbar navbar-light header-center" >
  <div class = "header-top">
      <form id="form2" action="自分のサイトURL" method="get">
        <input id="sbox2"  id="s" name="s" type="text" placeholder="フリーワードを入力"/>
        <button type="submit" id="sbtn2"><i class="fas fa-search"></i></button>
      </form>
      <%= link_to services_path do %>
        <%= image_tag 'header-icon.png', class: "header-icon" %>
      <% end %>
      <%= link_to "ログアウト", destroy_user_session_path , :method => "delete", class: "log_out_icon" %>
  </div>
  <div class="header-bottom">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="/services">トップ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories/1">テクノロジー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories/2">FinTech</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/categories/3">Helth Tech</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/categories/4">アプリ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories/5">HR Tech</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories/6">SNS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/categories/7">to B</a>
      </li>
    </ul>
  </div>
</nav>



