<div class="left-sidebar">
    <div class="card-side card">
      <p class="card-text">あなた</p>
      <%= image_tag 'megane-ojisan-logo.png', class: "card-img-top" %>
      <div class="card-body">
        <p class="card-text"><%= if current_user%>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
