<div class="left-sidebar">
    <div class="card-side card">
      <p class="card-text">あなた</p>
      <%= image_tag 'megane-ojisan-logo.png', class: "card-img-top" %>
      <div class="card-body user_status"><%= current_user.status.status_name%></div>
    </div>
    <h2>タイムライン</h2>
    <%= render feed_contents%>
</div>
